@mixin item( $size, $border, $color ){
  bottom: 0 - $size / 2;
  left: 0 - $size / 2;
  width: $size;
  height: $size;
  .button {
    background-color: $color;
    line-height: $size - $border * 2;
    width: $size - $border * 2;
    height: $size - $border * 2;
    border: $border solid white;
    @include border-radius( $size - $border );
  }
  @include border-radius( $size / 2 + 1 );
  @extend .item-style;
}

.item-style {
  position: absolute;
  font-size: 12px;
  background: transparentize(black, .5);
  text-align: center;
  padding: 1px;
  .button {
    color: white;
    font-weight: bold;
    display: block;
    @include box-shadow( inset 0 0 2px rgba(#000,.5) );
  }
  @include box-shadow( 0 0 3px rgba(#000,.3) );
}