- content_for :head do
  %title Path Menu Extreme 超級版！

- content_for :header do
  = partial "header"

- 1.times do |num|
  %div.path.path-off-end
    .plus
      .button
        %span.span1
        %span.span2
    %ul
      - 20.times do |item|
        %li{ :class => "item item" + (item + 1).to_s }
          .button{ :class => "icon-item" + (item + 1).to_s }
            .hide= item + 1